html { box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --primery-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    }

body {
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    display: block;
}
.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header-container {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
}
.logotype {
    margin-right: 93px;
}
.logo-web {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    color:  #2196F3;
}
.logo-studio {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    color: black;
}
.main-menu {
    display: flex;
    align-items: center;
}
.menu-list  {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.menu-list li:not(:last-child) {
    margin-right: 50px;
}
.menu-list.menu-list-item:last-child {
    margin-right: 0px;
}
.nav-contacts-list {
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
}
.nav-contacts-list .nav-contacts-item:not(:last-child) {
    margin-right: 50px;
}
.contacts-header {
    display: flex;
    align-items: center;
}
.contacts-header:hover {
    color: var(--accent-color);
}
.nav-contacts-list {
    display: flex;
}
.email-icon {
    padding-right: 10px;
    fill: #757575;
    width: 16px;
    height: 12px;
}
.email-icon:hover {
    fill: var(--accent-color);
}
.phone-icon {
    color:  #757575;
    width: 10px;
    height: 16px;
}
.phone-icon:hover {
    fill: var(--accent-color);
}
.title-nav {
    font-size: 14px;
    font-weight: 500;
    color: #2F303A;
}
.title-nav:hover {color: #2196F3;
}

.menu-button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    background-color: #F5F4FA;
}
.menu-button:hover {
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
}
.menu-button:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}
.main-container {
    display: block;
    margin: 0px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: 
       linear-gradient(
           to right, 
           rgba(47, 48, 58, 0.4),
           rgba(47, 48, 58, 0.4)
       ),
       url(../images/heroes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 1600px;
}

.main-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    font-style: normal;
    line-height: 1.4;
    color: white;
}
.main-button {
    padding: 8px 30px 8px 30px;
    font-family: Roboto;
    background-color: #2196F3;
    font-size: 16px;
    font-weight: 700;
    color: white;
    letter-spacing: 0.06em;
    line-height: 30px;
    border-radius: 4px;
}
.advantage-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}
.advantage {
    font-size: 14px;
    font-weight: 700;
    color: #212121;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.advantage-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
}
.advantage-list .advantage-list-item:not(:last-child) {
    margin-right: 30px;
}
.advantage-list-item::before {
    display: block;
    content: "";
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F5F4FA;
}
.advantage-list-item:nth-child(1)::before{
    background-image: url(../images/antenna.png) ;
}
.advantage-list-item:nth-child(2)::before{
    background-image: url(../images/clock.png) ;
}
.advantage-list-item:nth-child(3)::before{
    background-image: url(../images/diagramma.png) ;
}
.advantage-list-item:nth-child(4)::before{
    background-image: url(../images/astronaut1.png) ;
}

.advantage-fill {
    font-size: 14px; ;
    font-weight: 400 ;
    color: #757575;
}
.title-two {
    margin: 0px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    color: black;
    font-family: Roboto;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.works {
    padding-bottom: 94px;
}
.works-list {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.works-list-item:not(:last-child){
    margin-right: 30px;
}

.team {
    padding-top: 94px ;
    padding-bottom: 94px ;
    background-color:#F5F4FA;
}
.title-team {
    margin: 0px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    color: black;
    font-family: Roboto;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list {
    display: flex;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
.team-person-card {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}
.team-member {
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #212121 ;
}
.team-role {
    margin: 0px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
.team-person {
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
}
.team-person:not(:last-child) {
    margin-right: 30px;
}
.person-social {
    display: flex;
}
.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 44px;
    height: 44px;
}
.social-container:hover{
    background-color: var(--accent-color);
    border-radius: 50%;
}
.social-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.social-link {
    display: inline-block;
    width: 44px;
    height: 44px;
}
.instagram-icon {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
}
.instagram-icon:hover{
    fill: #FFFFFF;
}
.twitter-icon {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
}
.twitter-icon:hover {
    fill: #FFFFFF;
}
.facebook-icon {
    fill: #AFB1B8;
    width: 10px;
    height: 20px;
}
.facebook-icon:hover{
    fill: #FFFFFF;
}
.linkedin-icon {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
}
.linkedin-icon:hover{
    fill: #FFFFFF;
}
.clients {
    margin: 0px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    color: black;
    font-family: Roboto;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.clients-container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.clients-list-item:not(:last-child) {
    margin-right: 30px;
}
.clients-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid;
    border-color: #AFB1B8;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
}
.clients-list-link:hover {
    border-color: var(--accent-color);
    cursor: pointer;
}
.company-icons {
    fill: #AFB1B8;
}
.company-icons:hover {
    fill: var(--accent-color);
    cursor: pointer;
}
.company1-icon {
    height: 41px;
    width: 47px;
}
.company2-icon {
    height: 52px;
    width: 40px;
}
.company3-icon{
    height: 41px;
    width: 43px;
}
.company4-icon{
    height: 40px;
    width: 84px;
}
.company5-icon{
    height: 45px;
    width: 63px;
}
.company6-icon {
    height: 44px;
    width: 94px;
}
.contacts {
    margin: 0px;
    padding: 0px;
}
.contacts-header {   
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
}
.contacts-header:hover contacts-header:focus {
    color: #2196F3;
}
.footer-container {
    display: flex;
    justify-content: flex-start;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
}
.footer-contacts-container {
    margin-right: 70px;
}
.footer-parts {
    display: flex;
}
.logotype-footer {
    display: block;
    margin-bottom: 20px;
}
.logo-studio-footer {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    color: #FFFFFF;
}
.contacts-footer {   
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts li:not(:last-child) {
    margin-bottom: 9px;
}
.contacts-footer:hover.contacts-footer:focus {
    color: #2196F3;
    } 

.contact-item:hover {
    color:#2196F3 ;
}
.contact-item:focus {
    color: #2196F3;
}

.address {
    display: block;
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-socials{
    display: flex;
    flex-direction: column;
}

.join-us {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    font-family: Roboto;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.project-title {
    margin: 0px;
    padding: 0px;
    margin-bottom: 4px; ;
    font-size: 18px;
    font-weight: 700;
    color: #212121;
    font-family: Roboto;
    line-height: 2;
    letter-spacing: 0.06em;

}
.project-type {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-menu {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    list-style: none;
}
.portfolio-menu li:not(:last-child) {
    margin-right: 8px;
}
.menu-button {
    padding-left: 22px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    line-height: 26px;
    border: transparent;
    border-radius: 4px;
    text-align: center;
}
.portfolio-main-menu {
    margin-bottom: 50px;
}
.portfolio-section {
    padding-bottom: 94px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    margin-left:-30px;
    margin-top:-30px;
    padding: 0px;   
}
.portfolio-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100%/3 - 30px);
}
.portfolio-item:hover {
    box-shadow: 1px 4px 6px 0px #00000029;
    box-shadow: 0px 4px 4px 0px #0000000F;
    box-shadow: 0px 1px 1px 0px #0000001F;
}
.portfolio-card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}